@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

$mainFont: 'Libre Baskerville';
$accentColor: #48487f;

.container{
    font-family: $mainFont;
    .login-modal{
        padding-top: 5%;
        width: 50%;
        margin: auto;

        .card{
            border-radius: 15px;

            .card-header{
                color: white;
                padding-block: 15px;
                background-color: $accentColor;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                font-size: 17px;
            } 

            .card-body{
                form{

                    .row{
                        .col-md-6{
                            input[id="email"]{
                                padding-block: 10px;
                                font-size: 12px;
                            }

                            input[id="password"]{
                                padding-block: 10px;
                                font-size: 12px;
                            }
                        }
                    }

                    // This accesses the div for the "Remember Me" checkbox
                    .row{
                        .col-md-6{
                            .form-check{
                                label[for="remember"]{
                                    font-size: 12.5px;
                                }
                            }
                        }
                    }

                    // This accesses the div for the login button
                    .row{
                        .col-md-8{
                            margin-inline: auto;
                            .submit-btn{
                                margin-inline: auto;
                                display: block;
                                background-color: $accentColor;
                                padding-block: 12px;
                                padding-inline: 35px;
                                color: white;
                                border-radius: 7px;
                                border: none;
                                outline: none;
                            }
                        }
                    }
                }
            }
        }
    }
}